[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
beautifulsoup4 = "*"
uvicorn = "*"
jinja2 = "*"
translate-api = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.11"
